.my-table-content {
    overflow-x: auto;
}
.my-table{
    justify-content: center;
    width: 100%;
    height: fit-content;
    color: #212529;
    padding: 30px;
    border: 25px;
    background-color: rgba(250, 248, 248, 0.822);
    border-radius: 5px;
    border-color: black;
}
.my-navigator{
    text-align: center;
    justify-content: center;
}
.my-button {
    margin-left: 5px;
}